# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

!Makefile

# Don't ignore LICENSE
!LICENSE
!.github/workflows

# Ignore these files and folders explicitly
tasks.json
launch.json
.vscode

# Ignore executables
*.exe
*.out